.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #FDD11E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#heading {
  font-size: 60px;
  position: relative;
  margin: 0;
  top: 120px;
  color: white;
}

.emote {
  position: relative;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emote .emote-container {
  background-color: #B19215;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.emote h2 {
  font-size: 60px;
}

.bottom {
  width: 100%;
  height: 100vh;
  clip-path: polygon(50% 92%, 60% 85%, 100% 85%, 100% 100%, 0 100%, 0 85%, 40% 85%);
  background-color: #FF555A;
}
